<!doctype html>
<html lang="{{ page.seoLang }}">

	<head>
	
		{% include "head.twig" %}
		
		{% include basekit.headScript %}
		
		<script type="text/javascript">
			$(function() {
				$('a[href*=#]:not([href=#])').click(function() {
					if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
						var target = $(this.hash);
						target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
						if (target.length) {
							$('html,body').animate({
								scrollTop: target.offset().top
							}, 1000);
							return false;
						}
					}
				});
			});
		</script>

	</head>

	<body class="{{ page.backgroundClass }} {{ site.colorSwatch }}">
	
		{% include "header.twig" %}

		<div class="page-wrap">
		
			<nav class="template-nav">
				{{widget('extendednavigation', 'navigationheader', {})|raw}}
			</nav>
			
			{% block content %}
			{% endblock %}

			{% include "footer.twig" %}

		</div>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ asset("libs/jquery-1.10.2.min.js") }}"><\/script>')</script>

		<script type="text/javascript">
			!function() {
				function supportsSVG() {
					return !!document.createElementNS && !! document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect
				}
				if (supportsSVG()) document.documentElement.className += ' svg'
			}()
		</script>

		{% include basekit.bodyScript %}

	</body>
</html>